<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="academy.richpleasure.richpleasureacademy">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".InboxActivity"
            android:label="@string/inbox" />
        <activity
            android:name=".act.ActivitySample"
            android:label="@string/profile" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SubjectsActivity"
            android:label="@string/title_activity_subjects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubjectListActivity"
            android:label="@string/subject_list" />
        <activity android:name=".NotificationActivity" />

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".SplashScreenActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".SubjectListDetails"
            android:label="@string/subject_list" />
        <activity android:name=".TutorListActivity" />
        <activity
            android:name=".ChapterListActivity"
            android:label="@string/chapter_list" />
        <activity
            android:name=".ChapterActivity"
            android:label="@string/chapter_list" />
        <activity
            android:name=".ChapterContentActivity"
            android:label="Chapter Content" />
        <activity android:name=".YouTubePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>